.about-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  background-color: #0161b0;
  color: white;
  margin: 1vh 10vh;
  padding: 10vh 5vh;
  border-radius: 20px;
}
.sub-container {
  display: flex;
  gap: 5vh;
  text-align: left;
}
.image {
  width: 60%;
  border-radius: 10px;
}
