.container {
  text-align: center;
  display: flex;

  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.login {
  display: flex;
  justify-content: space-around;
  gap: 10vh;
  height: 100vh;
  align-items: center;
  margin: 1vh 10vh;
}
.login-form {
  flex-grow: 2;
}
.carousel {
  flex-grow: 3;
}
.footer-text {
  opacity: 0.6;
  margin-left: 15vh;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-size: 12px;
}
