.navbar {
  box-shadow: none;
}

.logo {
  margin-right: 16px;
  size: 24px;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.titleText {
  font-size: 24px;
}

.buttonsWrapper {
  display: flex;
}

.button {
  margin: 0 8px;
  /* width: 24px; */
}

.separator {
  height: 30px;
  width: 1px;
  background-color: #e0e0e0;
  margin: 0 16px;
}
