.navbar {
  box-shadow: none !important;
  background-color: transparent !important;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 8vh;
}

.logo {
  background-image: url("../images/logo.jpg");
  margin-right: 16px;
  background-color: black;
  width: 16px;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.titleText {
  font-size: 24px;
  color: #0161b0;
}

.buttonsWrapper {
  display: flex;
}

.button {
  margin: 0 8px;
  /* width: 24px; */
}

.separator {
  height: 30px;
  width: 1px;
  background-color: black;
  margin: 0 16px;
}
