.carousel-container {
  background-color: #0161b0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.carousel-container .image {
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.carousel-container .hiddenImage {
  opacity: 0;
}
