.carousel-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  /* margin: 20vh ; */
}

.carousel-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.carousel-container .hiddenImage {
  opacity: 0;
}
